*{
	margin:0;
	padding :0;
	box-sizing: border-box;
	font-family: 'Open Sans';

}
nav{
	padding: 0.8rem;
	margin-bottom: 0rem;
	/*Value of rem is short for root-em, most of the browsers has a font size of value 16px*/
	/*1rem = 16px*/
	/*0.8x16=12.8*/
	border-bottom: 1px solid gray;
	list-style-type: none;
	position: sticky;
	top: 0;
	background-color: white;
}
/*margin vs padding*/
/*margin is used best when creating spaces between elements*/
/*padding is best used when creating space between element's border and its content */
nav .nav, nav .right-nav, nav .nav-logo{
	/*Changes elements to inline elements*/
	display: inline;
	margin: 0.5rem;
	/*margin-right:0.5rem; 
	margin-bottom:0.5rem;
	margin-top:o.5rem;
	margin-left:0.5rem;
	*/
}

nav .right-nav{
	margin-left: 35rem;
	
}


/*nav .nav{
	text-align: right;

}*/


.tuitt-button{
	color: white;
	background-color: #c2195b;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.5rem 2% 0.5rem 2%;
}

#bg-image{
	min-height: 10px;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-position: center;
	background-size: 100%;
	background-attachment: scroll;
	background-repeat: no-repeat;

}
.title{
	text-align: right;
	color: white;
	font-family: 'Zilla Slab';
	font-size: 50px;
}

.subtitle{
	text-align: right;
	color: white;
	padding: 3rem 0% 1rem 35%;
}

.container{
	text-align: right;
	padding: 0rem 10% 3rem 40%;
}

.intro-description{

	margin-bottom: 50px;
}

.title-2{
	font-size: 40px;
	padding: 3rem 20% 1rem 20%;
	text-align: center;
	font-family: 'Zilla Slab';
}

.prefooter-description{
	padding: 2rem 20% 1rem 20%;
	text-align: center;
}

.front-bg{
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 10px;
}

.pre-footer{
	background-color: #f7fbfb;
	min-height: 40vh;
}

.apply-button{
	color: white;
	background-color: #c2195b;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.8rem 8% 0.8rem 8%;

}



.intro h2{
	margin-bottom: 1rem;
	text-align: center;
}
.intro p{
	padding: 3rem 20% 3rem 20%;
	text-align: left;
}
.book-button{
	color: white;
	background-color: #336589;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.5rem 3rem 0.5rem 3rem;
	margin-left: 43%;

}

footer{
	text-align: center;
	padding: 0.7rem
}
footer span{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
html{
	height: 150vh;
}


