/*
CSS Rules
selector {
	property: value;
}	
*/
/*Universal Selector*/
/* monospace acts like an alternate font for Courier New*/
*{
	font-family: "Courier New1", Sans-serif;
	font-size: 15px;
}

p{
	color: yellow;
}

h1{
	font-size: 3rem;
}
 
#zuittbootcamp{
	text-transform: uppercase;
}
.offering-item{
	background-color: lightgreen;
}

li[class="toolused"]{
	border-width: 2px;
	border-style: solid;
	border-color: skyblue;
}
img{
	height: 100px;
	width: 100px;
	border-radius: 150px;
}
img + ul{
	list-style-type: none;
}
body > section > ul > li{
	letter-spacing: 10px

}

h4 ~ p{
	text-align: center;
	color: black;
}