/*
CSS Rules
selector {
	property: value;
}	
*/
/*Universal Selector*/
/* monospace acts like an alternate font for Courier New*/
*{
	font-family: "Courier New1" , monospace;
	font-size: 20px;
}

body{
	background-color: skyblue;
}
html{
	scroll-behavior: smooth;
}

/*navigation bar*/
nav{
	background-color: white;
}
/*selector: hover pseudo class*/
/*changes the when hovered over*/
a:hover{
	background-color: #b4d6de;
}

div{
	display: inline-block;
	float: right;
}

/*What type of selctor is h1 "Type Selector"*/
h1{
	color: orange !important;
	/*The !impotant has the highest priority, using this we prioritise the property.*/
	text-align: center;
	font-size: 2rem;
}
/*landing section*/
section{
	height: 100vh;
	text-align: center;
}

h2{
	font-size: 1.5rem;
}
/*id selector*/
/*#id-name*/
#zuitt-moto{
	letter-spacing: 5px;
	/*The letter spacing property changes the space between characters of a text*/
}

h3{
	letter-spacing: 25px;
}
/*Id is prioritised more than type selector*/

/*Adjacent Sibling Selector*/
/*selector+selector*/

h3 + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*#zuitt-motto + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
	}
	*/
/*Selectors used for combinator selectors aren't limited/restricted to type selectors only. Id, class, attribute and universal selectors may also be used.*/
/*The height changes the vertical dimension of the element*/
/*The width changes the horizontal dimension of the element*/
/*The border-radius changes the corners of the element from sharp to rounded corners*/
/*class selector*/
/*.classname*/
ol{
	list-style-type: none;
}

.offering-item{
	text-transform: uppercase;
	/*the text-transform property */
}
#Bootcamp-learning-list li{
	color:#090766;
}
/*The color property and similar properties that chnage color can also accept hex values. Hexadecimal values consist of (#) sign in combination with 6 alphanumeric characters*/
/*General Sibling selector*/
h2 ~ a{
	text-decoration: none;
}

/*The text-deccoration is a property that changes lines in the text (e.g. overline, underlying and strike through)*/
/*The value none will remove the underline from the links*/

/*Child Selector*/
/*selector > selector*/
body > section > form > label{
	color: rgb(237, 17, 35);
}
/*The child selector  may include more than two selctors and the last tag is where the changes happen */

/*Attribute Selector*/
/*Tagname[Attribute]*/
input[required]{
	border-width: 2px;
	border-style: solid;
	background-color: pink;
	width: 90%;
}
/*registered section*/

form {
	text-align: center;
	background-color: white;
	height: 185px;
	width: 25vw;
	border: 2px solid black;
	position: relative;
	left: 37.25%;

}

button{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}

